@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@theme {
  --color-primary: #ffce1a;
  --color-secondary: #00b842;
  --color-blackBG: #3f3f3f;
  --color-favorite: #ff5841;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Nunito Sans", sans-serif;
  --font-tertiary: "Archivo Black", sans-serif;
}
.swiper {
  @apply w-full h-full;
}

.swiper-slide {
  @apply bg-white flex justify-centre items-center;
}

.swiper-slide img {
  @apply block w-full h-full object-cover;
}

.swiper-button-prev {
  display: none !important;
}

.swiper-button-next {
  @apply bg-white p-5 rounded-full z-50 shadow-md;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px !important;
}

.btn-primary {
  @apply bg-primary px-12 py-2 rounded-md text-base font-secondary font-bold
         hover:bg-secondary hover:text-white transition-all duration-200 cursor-pointer;
}

html {
  scroll-behavior: smooth;
}
